body {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.colors {
    display: flex;
    gap: 15px; 
}

button {
    padding: 10px 20px;
    border-radius: 5px; 
    border: 2px solid #333; 
    cursor: pointer;
    font-size: 16px;
    background: white;
}

#box {
    width: 150px;
    height: 150px;
    background: rgb(66, 234, 234);
    margin-top: 20px;
}

.hidden {
    display: none;
}

.count {
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}

.fifth_task,
.count,
#btn,
.user {
    margin-top: 30px;
}

.user{
    margin-top: 20px;
    text-align: center;
}









/* .timer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  background-color: darkcyan;
} */

/* 5 */

/* .block {
    width: 150px;
    height: 150px;
    border: 2px solid #333;
    cursor: pointer;
}

.active {
    background-color: #3498db; 
} */
